<!-- 6A -->
<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        <!---{{ 'uodos.section6A' | translate }}---->
        6. Dane podstawowe
    </h4>
</div>
<div [formGroup]="form.form">
    <ng-container formArrayName="basic" *ngFor="let ctrl of getBasicsControls(); let x = index">
        <ng-container [formGroupName]="x">
            <div class="row checkbox-row">
                <div class="col-md-6 col-sm-6">
                    <mat-checkbox formControlName="name" (change)="assignBasicCategories($event.checked, x)">
                        {{basicCategories![x].name}}
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isBasicOthersVisible">
        <div class="row details-row">
            <div class="col-md-6 col-sm-6">
                <mat-label>Inne, wskaż jakie</mat-label>
                <mat-form-field appearance="outline" class="form-field-full-width">
                    <input matInput formControlName="basicOthers" />
                    <mat-error
                        *ngIf="form.basicOthers?.hasError('required') &&
                                              (form.basicOthers?.dirty || form.basicOthers?.touched)"
                    >
                        To pole jest wymagane
                    </mat-error>
                    <mat-error
                        *ngIf="form.basicOthers?.hasError('minlength') &&
                                          (form.basicOthers?.dirty || form.basicOthers?.touched)"
                    >
                        Wpisz przynajmniej 3 znaki
                    </mat-error>
                    <mat-error
                        *ngIf="form.basicOthers?.hasError('maxlength') &&
                                              (form.basicOthers?.dirty || form.basicOthers?.touched)"
                    >
                        Przekroczono dopuszczalną ilość znaków (30)
                    </mat-error>
                </mat-form-field>
                <!-- <input matInput formControlName="description" /> -->
            </div>
        </div>
        <!-- <mat-label>Inne, wskaż jakie</mat-label>
                <input matInput formControlName="basicOthers" /> -->
    </ng-container>

    <div class="inline-stretch-info">
        <h4 pageLayoutTitle>
            <!---{{ 'uodos.section6B' | translate }}---->
            6. Dane szczególnej kategorii
        </h4>
    </div>
    <!-- 6B -->

    <ng-container formArrayName="special" *ngFor="let ctrl of getSpecialsControls(); let y = index">
        <ng-container [formGroupName]="y">
            <div class="row checkbox-row">
                <div class="col-md-6 col-sm-6">
                    <mat-checkbox formControlName="name" (change)="assignSpecialCategories($event.checked, y)">
                        {{specialCategories![y].name}}
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <!-- 6C -->
    <div class="inline-stretch-info">
        <h4 pageLayoutTitle>
            <!---{{ 'uodos.section6C' | translate }}---->
            6. Dane, o których mowa RODO
        </h4>
    </div>
    <ng-container formArrayName="rodo" *ngFor="let ctrl of getRodoControls(); let z = index">
        <ng-container [formGroupName]="z">
            <div class="col-md-6 col-sm-6">
                <mat-checkbox formControlName="name" (change)="assignRodoCategories($event.checked, z)">
                    {{rodoCategories![z].name}}
                </mat-checkbox>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="isRodoOthersVisible">
        <div class="row details-row">
            <div class="col-md-6 col-sm-6">
                <!-- <mat-label>Inne</mat-label>
                <input matInput formControlName="rodoOthers" /> -->
                <mat-label>Inne, wskaż jakie</mat-label>
                <mat-form-field appearance="outline" class="form-field-full-width">
                    <input matInput formControlName="rodoOthers" />
                    <mat-error
                        *ngIf="form.rodoOthers?.hasError('required') &&
                                      (form.rodoOthers?.dirty || form.rodoOthers?.touched)"
                    >
                        To pole jest wymagane
                    </mat-error>
                    <mat-error
                        *ngIf="form.rodoOthers?.hasError('minlength') &&
                                  (form.rodoOthers?.dirty || form.rodoOthers?.touched)"
                    >
                        Wpisz przynajmniej 3 znaki
                    </mat-error>
                    <mat-error
                        *ngIf="form.rodoOthers?.hasError('maxlength') &&
                                      (form.rodoOthers?.dirty || form.rodoOthers?.touched)"
                    >
                        Przekroczono dopuszczalną ilość znaków (30)
                    </mat-error>
                </mat-form-field>
                <!-- <input matInput formControlName="description" /> -->
            </div>
        </div>
    </ng-container>
</div>
