<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        2. Podmiot zgłaszający
        <!-- {{ 'uodos.section2' | translate }} -->
    </h4>
</div>

<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        <!---{{ 'uodos.section2A' | translate }}---->
        2A. Dane administratora danych
    </h4>
</div>
<div class="inline-stretch-info">
    <app-admin-data-form (formChange)="onAdminDataFormChange($event)"></app-admin-data-form>
</div>

<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        <!---{{ 'uodos.section2B' | translate }}---->
        2B. Adres siedziby administratora danych
    </h4>
</div>
<div class="inline-stretch-info">
    <app-admin-address-form [countriesList]="countriesList" (formChange)="onAdminAddressFormChange($event)"></app-admin-address-form>
</div>

<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        <!---{{ 'uodos.section2C' | translate }}---->
        2C. Osoby uprawnione do reprezentowania administratora
    </h4>
</div>
<div class="inline-stretch-info">
    <!-- <app-admin-representative-form (formChange)="onRepresentativeFormChange($event)"></app-admin-representative-form> -->
</div>

<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        <!---{{ 'uodos.section2D' | translate }}---->
        2D. Pełnomocnik
    </h4>
</div>
<div class="inline-stretch-info">
    <!-- <app-admin-representative-form></app-admin-representative-form> -->
    <app-admin-representative-form (formChange)="onAdminRepresentativeFormChange($event)"></app-admin-representative-form>
</div>

<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        <!---{{ 'uodos.section2E' | translate }}---->
        2E. Inspektor ochrony danych
    </h4>
</div>
<div class="inline-stretch-info">
    <!-- <app-data-security-inspector-form (formChange)="onSecurityInspectorFormChange($event)"></app-data-security-inspector-form> -->
</div>

<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        <!---{{ 'uodos.section2F' | translate }}---->
        2F. Inne podmioty
    </h4>
</div>
<div class="inline-stretch-info"></div>
