<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        <!---{{ 'uodos.section6' | translate }}---->
        6. Kategoria danych osobowych
    </h4>
</div>
<div class="inline-stretch-info">
    <!-- <app-personal-data-categories-form
        (formChange)="onPersonalCategories($event)"
        [personalBasicCategoriesList]="personalBasicCategoriesList$ | async"
        [personalSpecialCategoriesList]="personalSpecialCategoriesList$ | async"
        [personalRodoCategoriesList]="personalRodoCategoriesList$ | async"
    ></app-personal-data-categories-form> -->
</div>
