<div [formGroup]="form.form">
    <div class="row row-with-line">
        <div class="col-sm-3">
            <div class="form-label">Pełna nazwa administratora</div>
        </div>
        <div class="col-sm-6">
            <!-- <input matInput formControlName="fullNameAdmin" appTextOnly placeholder="Wprowadź datę" /> -->

            <mat-form-field appearance="outline" class="form-field-full-width">
                <input matInput formControlName="fullNameAdmin" />
                <mat-error
                    *ngIf="form.fullNameAdmin?.hasError('required') &&
                                      (form.fullNameAdmin?.dirty || form.fullNameAdmin?.touched)"
                >
                    To pole jest wymagane
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
            <div class="form-label">REGON</div>
        </div>
        <div class="col-sm-3">
            <!-- <input matInput formControlName="regon" appTextOnly placeholder="Wprowadź tekst" /> -->

            <mat-form-field appearance="outline" class="form-field-full-width">
                <input matInput formControlName="regon" appNumberOnly />
                <mat-error
                    *ngIf="form.regon?.hasError('required') &&
                                      (form.regon?.dirty || form.regon?.touched)"
                >
                    To pole jest wymagane
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-sm-1">
            <div class="form-label">NIP</div>
        </div>
        <div class="col-sm-3">
            <!-- <input matInput formControlName="nip"  placeholder="Wprowadź tekst" /> -->

            <mat-form-field appearance="outline" class="form-field-full-width">
                <input matInput formControlName="nip" />
                <mat-error
                    *ngIf="form.nip?.hasError('required') &&
                                      (form.nip?.dirty || form.nip?.touched)"
                >
                    To pole jest wymagane
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-sm-1">
            <div class="form-label">KRS</div>
        </div>
        <div class="col-sm-3">
            <!-- <input matInput formControlName="krs" placeholder="Wprowadź tekst" /> -->
            <mat-form-field appearance="outline" class="form-field-full-width">
                <input matInput formControlName="krs" appNumberOnly />
                <mat-error
                    *ngIf="form.krs?.hasError('required') &&
                                      (form.krs?.dirty || form.krs?.touched)"
                >
                    To pole jest wymagane
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <p class="form-label">Sektor</p>
    </div>
    <!-- <div class="col-sm-3">
            <mat-form-field appearance="outline" class="form-field-full-width">
                <input matInput formControlName="noticeDate" appTextOnly placeholder="Wprowadź tekst" />
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field appearance="outline" class="form-field-full-width">
                <input matInput formControlName="noticeDate" appTextOnly placeholder="Wprowadź tekst" />
            </mat-form-field>
        </div> -->
</div>
<!-- 
    <div class="row">
        <div class="col-sm-12">
            <p class="form-label">Powody opóźnienia powiadomienia organu nadzorczego o naruszeniu</p>
           
            <mat-form-field appearance="outline" class="form-field-full-width">
                <input matInput formControlName="reasonOfDelay" appTextOnly placeholder="Wprowadź tekst" />
            </mat-form-field>
        </div>
    </div> -->
