<div [formGroup]="form.form">
    <ng-container formArrayName="items" *ngFor="let ctrl of getItemsControls(); let z = index">
        <ng-container [formGroupName]="z">
            <div class="row checkbox-row">
                <div class="col-md-6 col-sm-6 checkbox-col">
                    <mat-checkbox formControlName="name" (change)="assignPossibleConsequences($event.checked, z)">
                        {{possibleConsequencesData![z].name}}
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isOthersVisible">
        <div class="row details-row">
            <div class="col-md-6 col-sm-6">
                <mat-label>Opisz poniżej...</mat-label>
                <mat-form-field appearance="outline" class="form-field-full-width">
                    <input matInput formControlName="description" />
                    <mat-error
                        *ngIf="form.description?.hasError('required') &&
                                      (form.description?.dirty || form.description?.touched)"
                    >
                        To pole jest wymagane
                    </mat-error>
                    <mat-error
                        *ngIf="form.description?.hasError('minlength') &&
                                  (form.description?.dirty || form.description?.touched)"
                    >
                        Wpisz przynajmniej 3 znaki
                    </mat-error>
                    <mat-error
                        *ngIf="form.description?.hasError('maxlength') &&
                                      (form.description?.dirty || form.description?.touched)"
                    >
                        Przekroczono dopuszczalną ilość znaków (30)
                    </mat-error>
                </mat-form-field>
                <!-- <input matInput formControlName="description" /> -->
            </div>
        </div>
    </ng-container>
</div>
