<div [formGroup]="form.form">
    <ng-container formArrayName="items" *ngFor="let ctrl of getItemsControls(); let z = index">
        <ng-container [formGroupName]="z">
            <div class="row checkbox-row">
                <div class="col-md-6 col-sm-6">
                    <mat-checkbox formControlName="name" (change)="assignCategory($event.checked, z)">
                        {{personCategories![z].name}}
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <div class="row details-row">
        <div class="col-md-6 col-sm-6">
            <mat-label>Szczególowy opis...</mat-label>
            <input matInput formControlName="description" />
        </div>
    </div>
</div>
