<div [formGroup]="form.form">
    <div class="inline-stretch-info">
        <div class="row">
            <div class="col-md-6 col-sm-10">
                <mat-checkbox formControlName="theBreachIsCrossBorderInNature" (change)="hasImpact($event.checked)">
                    Naruszenie ma charakter transgraniczny
                </mat-checkbox>
            </div>
        </div>

        <br />

        <div class="row" *ngIf="isVisibleCountriesList">
            <div class="col-md-4 col-sm-4">
                <ng-container formArrayName="items" *ngFor="let ctrl of getItemsControls() | slice:0:15; let z = index;">
                    <!-- <ng-container formArrayName="items" *ngFor="let ctrl of countriesFormData| slice:0:15; let z = index"> -->
                    <div class="row checkbox-row">
                        <ng-container [formGroupName]="z">
                            <div class="col-md-6 col-sm-6">
                                <!-- [formControl]="answersArray.controls[index]" -->
                                <!-- [formControl]="answersArray.controls[index]" -->
                                <mat-checkbox formControlName="name" (change)="addCountry($event.checked, z)">
                                    {{countriesFormData![z].name}} {{z}}
                                </mat-checkbox>
                            </div>
                        </ng-container>

                        <ng-container [formGroupName]="z+startSec">
                            <div class="col-md-6 col-sm-6 checkbox-col">
                                <ng-container *ngIf="countriesFormData![z+startSec]">
                                    <ng-container *ngIf="z+startSec<countriesFormData.length">
                                        <mat-checkbox formControlName="name" (change)="addCountry($event.checked, z+startSec)">
                                            {{countriesFormData![z+startSec].name}} {{z+startSec}}
                                        </mat-checkbox>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
