<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        4. Charakter naruszenia
        <!-- {{ 'uodos.section4' | translate }} -->
    </h4>
</div>
<hr />
<div class="inline-stretch-info">
    <h4 pageLayoutTitle>
        4A. Opisz szczegółówo na czym..
        <!-- {{ 'uodos.section4a' | translate }} -->
    </h4>
</div>

<div class="inline-stretch-info">
    <!-- <app-admin-data-form (formChange)="onAdminDataFormChange($event)"></app-admin-data-form> -->
</div>

<div class="inline-stretch-info">
    <!-- <app-admin-address-form (formChange)="onAdminAddressFormChange($event)"></app-admin-address-form> -->
</div>

<div class="inline-stretch-info">
    <!-- <app-admin-address-form (formChange)="onAdminAddressFormChange($event)"></app-admin-address-form> -->
</div>
