// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import 'node_modules/bootstrap/scss/bootstrap.scss';

// @import './app/styles/material.scss';
// @import './app/styles/buttons.scss';
// @import './app/styles/forms.scss';
// @import
body {
     font-size: 16px;
     font-family: Calibri;
}
.row-with-line {
     border-bottom: 0ch;
     margin-bottom: 25px;
}

input {
     font-size: 16px;
}

.form-label {
     font-size: 16px;
}

.form-description {
     font-size: 10px;
}
.form-field-full-width {
     width: 100%;
}
