<div [formGroup]="form.form">
    <div class="inline-stretch-info">
        <h4 pageLayoutTitle>
            <!---{{ 'uodos.section9A' | translate }}---->
            Przybliżona liczba osób...
        </h4>
    </div>
    <!-- <input matInput formControlName="nrOfViolated" placeholder="Kliknij tu..." /> -->
    <mat-form-field appearance="outline" class="form-field-full-width">
        <input matInput formControlName="nrOfViolated" appNumberOnly />
        <mat-error
            *ngIf="form.nrOfViolated?.hasError('required') &&
                              (form.nrOfViolated?.dirty || form.nrOfViolated?.touched)"
        >
            To pole jest wymagane
        </mat-error>
    </mat-form-field>

    <div class="inline-stretch-info">
        <h4 pageLayoutTitle>
            <!---{{ 'uodos.section9B' | translate }}---->
            Przybliżona liczba wpisów AAA
        </h4>
    </div>
    <!-- <input matInput formControlName="nrOfViolatedData" placeholder="Kliknij tu..." /> -->
    <mat-form-field appearance="outline" class="form-field-full-width">
        <input matInput formControlName="nrOfViolatedData" appNumberOnly />
        <mat-error
            *ngIf="form.nrOfViolatedData?.hasError('required') &&
                          (form.nrOfViolatedData?.dirty || form.nrOfViolatedData?.touched)"
        >
            To pole jest wymagane
        </mat-error>
    </mat-form-field>
</div>
